# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/app/.pnp
.pnp.js

# production
/app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
analytics
mysql
redis
mongo
elasticsearch
datasets
metals.*

server/app/data/config/*
!server/app/data/config/jucssm.json