.comment {
    font-size: small;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: large;
    }

    h3 h4,
    h5,
    h6 {
        font-size: medium;
    }

    ul,
    ol {
        margin-left: 20px;
    }

    blockquote {
        padding-left: 10px;
        border-left: 2px solid #83c4f2;
    }

    a,
    a:visited {
        color: #83c4f2;
        text-decoration: underline;
    }
}
