cython
cymem
murmurhash
preshed
numpy==1.26.4
blis
thinc

fastapi
uvicorn
pydantic==1.10.13
elasticsearch==7.13.4
elasticsearch_dsl
networkx
pandas
pytest
requests
setuptools
wheel
spacy
pytextrank
python-multipart
pymongo
marisa-trie
palettable
uvicorn
polars==0.18.5
debugpy
pyalex