cython
cymem==2.0.8
murmurhash==1.0.10
preshed==3.0.9
numpy==1.26.4
blis==0.7.11
thinc==8.2.5

fastapi==0.115.2
uvicorn==0.32.0
pydantic==1.10.13
elasticsearch==7.13.4
elasticsearch_dsl==7.4.1
networkx==3.4.2
pandas==2.2.3
pytest==8.3.3
requests==2.32.3
setuptools==65.5.1
wheel==0.40.0
spacy==3.7.5
pytextrank==3.3.0
python-multipart==0.0.17
pymongo==4.10.1
marisa-trie==1.2.1
palettable==3.3.3
uvicorn==0.32.0
polars==0.18.5
debugpy==1.8.7
pyalex==0.15.1
pyarrow==17.0.0